@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;800&display=swap');

*,
html {
    margin          : 0;
    padding         : 0;
    background-color: #eeece5;
    /* border       : 1px solid red; */
}
